<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Астана АС</title>
	<meta name="description" content="">

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<header class="main_header fixed_header">
		<div class="container">
			
			<div class="row">
				<div class="col-md-auto">
					<div class="logotype">
						<a href="#"><img src="/img/logo.svg" alt="Астана АС"></a>
					</div>
				</div>
				<div class="col-md-auto">
					<nav class="main_menu">
						<a href="#" class="main_menu__item">О нас</a>
						<a href="#" class="main_menu__item">Преимущества</a>
						<a href="#" class="main_menu__item">Сертификаты</a>
						<a href="#" class="main_menu__item">Калькулятор цены</a>
						<a href="#" class="main_menu__item">Контакты</a>
					</nav>
				</div>
				<div class="col" data-text_align="right">
					<a href="#" class="header__button-full">Оставить заявку</a>
				</div>
			</div>

		</div>
	</header>

	<section class="main_slider-container">
		<div class="main__slider">
			<a href="#" class="slide__container slide-link">
				<div class="slide__item" style="background: #F7B81D; background-size: cover;">
					<div class="slide__content">
						<div class="slide__title">Фундаментальное качество</div>
						<div class="slide__desc">Завод по производству керамических блоков и кирпичей в Казахстане</div>
						<div class="slide__link">
							<span onclick="location.href = '#'" class="slide__link-block">Подробнее</span>
						</div>
					</div>
				</div>
			</a>
			<a href="#" class="slide__container slide-link">
				<div class="slide__item" style="background: #F7B81D; background-size: cover;">
					<div class="slide__content">
						<div class="slide__title">Фундаментальное качество</div>
						<div class="slide__desc">Завод по производству керамических блоков и кирпичей в Казахстане</div>
						<div class="slide__link">
							<span onclick="location.href = '#'" class="slide__link-block">Подробнее</span>
						</div>
					</div>
				</div>
			</a>
		</div>
	</section>

	<section class="calc__price">
		<div class="container">
			<div class="header__calc-block" id="calculator_price">
				<div class="header_calc-container">
					
					<div class="header_calc-title inline-bottom">
						<h2 class="header_calc-title-item">Калькулятор цены</h2>
						<div class="header_calc-sub_title-item"><a href="#">Калькулятор кирпича</a></div>
					</div>

					<div class="header_calc-content">

						<div class="calc-form_item-block">

							<label for="type_brick">Тип</label>
							<select name="type_brick" id="type_brick" class="default__select" v-model="price_brick" @change="brick(price_brick)">
								<option v-bind:value="brick.value" v-for="brick in bricks">{{brick.text}}</option>
							</select>

						</div>

						<div class="calc-form_item-block">
							<div class="row">
								<div class="col">
									<label for="quantity_brick">Количество</label>
									<input type="number" id="quantity_brick" name="quantity_brick" data-text_align="center" class="default__input" v-model="quantity" placeholder="0" v-on:keyup="input(quantity)" @change="input(quantity)">
								</div>
								<div class="col">
									<label for="weight">Вес</label>
									<select name="weight" id="weight" class="default__select" v-model="weight_value" @change="weight(weight_value)">
										<option v-bind:value="weight.value" v-for="weight in weights">{{weight.text}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="calc-form__footer">
							<div class="row">
								<div class="col">
									<div class="calc-form__footer-title">Итого:</div>
									<div class="calc-form__footer-price"><span id="total_price_with_brick">{{result}}</span> тг.</div>
								</div>
								<div class="col">
									<button class="default__button yellow">Заказать</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			
		</div>
	</section>

	<section class="catalog__products" id="#catalog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="catalog__products-desc">
						<h2 class="default__title">Каталог товаров</h2>
						<p>Astana-As является производителем керамического кирпича для облицовки и строительства зданий и сооружений. Наша продукция изготовлена с использованием современных технологий и отвечает международным стандартам качества</p>
						<div class="catalog__products-desc_link">
							<a href="#" class="default__button yellow">Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row">
						<div class="col">
							<a href="#" class="catalog__item-block">
								<img src="/img/example_1.jpg" alt="Кирпич 1">
								<span>Кирпич обычный</span>
							</a>
						</div>
						<div class="col">
							<a href="#" class="catalog__item-block">
								<img src="/img/example_1.jpg" alt="Кирпич 1">
								<span>Кирпич обычный</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/scripts.min.js"></script>

</body>
</html>
